.DS_Store
/scripts
/blog/public
/food-planner/data
/food-planner/__pycache__
/food-planner/**/*.pyc
/symptom-tracker/data
/symptom-tracker/**/__pycache__
/symptom-tracker/**/*.pyc
/symptom-tracker/**/*.sqlite3
